<a href="https://colab.research.google.com/github/PIYA2PI/Copy_of_Lab3.ipynb/blob/main/67010588_Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 3

3.1 จากข้อมูลใน List ให้หาผลบวกเฉพาะตัวเลขคู่ โดยใช้ While Loop

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 1322222222222222222]

for i in list1:
  if i%2==0:
    print(i)

2
4
6
8
1322222222222222222

3.2 จากข้อมูลใน List ให้หาตัวเลขที่มีค่ามากที่สุดเป็นอันดับ 2 ใน List โดยใช้ While Loop

list = [-5, 7, 10, 1, 2, 5, 8, 100]

In [ ]:
from ast import Index
list = [-5, 7, 10, 1, 2, 5, 8, 100]
max1 = list[0]
max2 = list[0]
i=1
x=1
while i<len(list) :
  if list[i]>max1 :
    max1 = list[i]
  i +=1
while x<len(list):
  if list[x]>max2 and list[x] != max1 :
      max2 = list[x]
  x +=1
print(max2)

10

3.3 เขียนโปรแกรมรับค่า n แล้วคำนวณค่าต่อไปนี้

$1/1^2 + 1/2^2 + 1/3^2 + 1/4^2 + 1/5^2 + … +  1/n^2$

In [ ]:
n=int(input(""))
x = 1
sum = 0
while x<=n :
  sum += 1/x**2
  x +=1
print(sum)

2
1.25

3.4 จากข้อมูลใน List ให้ตรวจสอบว่า ข้อมูลในลิสต์ s เรียงลำดับจากน้อยไปมากหรือไม่ ตอบเป็น True, False

	[1,2,3,4,5], [5,4,3,2,1]

In [2]:
s = [[1,2,3,4,5], [5,4,3,2,1]]
s1 = [[1,2,3,4,5], [5,4,3,2,1]]
x = s1[0]
x1 = s1[1]
x.sort()
x1.sort()
if s[0] == x :
  print( f"{s[0]} = True")
else :
  print( f"{s[0]} = False")
if s[1] == x1 :
  print( f"{s[1]} = True")
else :
  print( f"{s[1]} = False")

[1, 2, 3, 4, 5] = True
[5, 4, 3, 2, 1] = False

3.5  ให้ x เป็นลิสต์เก็บคะแนน ต้องการปรับช่องที่มีค่าน้อยกว่า 30 ให้มีค่าเพิ่มอีก 10% แสดงผลลัพธ์ เป็น List

	x = [60, 70, 72, 65, 55, 43, 20, 90, 12]

In [20]:
x = [60, 70, 72, 65, 55, 43, 20, 90, 12]
i = 0
while  i < len(x) :
  if x[i] <= 30 :
    x[i] += x[i]*0.1
  i +=1
print(x)

[60, 70, 72, 65, 55, 43, 22.0, 90, 13.2]

3.6 ต้องการหาผลรวมของคะแนนที่เก็บในลิสต์ x โดยขอไม่รวมคะแนนที่น้อยสุดอันดับ 2

	x = [15, 80, 75, 62, 55, 43, 99, 67, 10]

In [33]:
x = [15, 80, 75, 62, 55, 43, 99, 67, 10]
x.sort()
i = 0
sum = 0
while i < len(x) :
  sum += x[i]
  i +=1
sum1 = sum - x[1]
print(sum1)

491

3.7 จากข้อมูลใน List ให้แสดง string ที่มีความยาวมากกว่า 2 และมีอักษรตัวแรกกับตัวสุดท้ายเหมือนกัน แสดงบรรทัดละ 1 ตัว

	lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']

In [35]:
lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']
i = 0
while i < len(lst) :
    if len(lst[i]) > 2 and lst[i][0] == lst[i][-1] :
        print(lst[i])
    i += 1

abba
alcaza
stores
execute

3.8 จากข้อมูลใน List ให้ลบข้อมูลที่มีซ้ำกันให้เหลือเพียงตัวเดียว ให้แสดงผลเป็น list เช่น

[‘a’,’a’] => [‘a’]

lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']

In [90]:
l =  ['a', 'a', 'b', 'a', 'b', 'c', 'd']
ans = []

for i in l:
    if i not in ans:
        ans.append(i)

ans.sort()
print(ans)

['a', 'b', 'c', 'd']

3.9 จากข้อมูลใน List ให้แสดงว่าแต่ละข้อมูลใน List มีจำนวนเท่าไร คือ มีซ้ำกันกี่ตัวใน List  ให้แสดงบรรทัดละตัว เช่น

	[1, 2, 3, 4, 1, 2, 3, 1, 2, 1]
	1 = 4
	2 = 3
	3 = 2
	4 = 1
  
	lst = [1,2,3,4,5,1,2,3,4,1,2,3,1,2,1]

In [96]:
l = [1,2,3,4,5,1,2,3,4,1,2,3,1,2,1]
ans = []

for i in l:
    if i not in ans:
        ans.append(i)

ans.sort()

for i in range(len(ans)):
    count = l.count(ans[i])
    print( i+1 ,"=", count)

1 = 5
2 = 4
3 = 3
4 = 2
5 = 1

1.	เขียนโปรแกรมเพื่อหาผลบวกของอนุกรม 5+10+15+20+… จนถึง n เมื่อ n เป็นตัวเลขที่รับเข้ามาทางคีย์บอร์ด

In [6]:
n = int(input(""))
x = 1
a = 0
sum = 0
while x < n + 1:
    a = int(x * 5)
    sum += a
    x += 1
print(sum)

50
6375

2.	จงเขียนโปรแกรมที่จะหาตัวเลขระหว่าง 2000-3200 ที่หารด้วย 7 ลงตัว แต่หารด้วย 5 ไม่ลงตัว
การแสดงผลให้แสดงตัวเลขและคั่นด้วยเครื่องหมาย , ในบรรทัดเดียว

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [4]:
for i in range(2000,3201) :
    if i % 7 == 0 and i % 5 != 0:
        print(f"{i},", end="")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

3.	จากข้อมูลใน List ต้องการนับว่า มีข้อมูลกี่คู่ในลิสต์ที่ตัวทางซ้ายมีค่ามากกว่าตัวทางขวา (ไม่จำเป็นต้องอยู่ติดกัน)

x = [1, 5, 4, 2, 1]

In [15]:
x = [1, 5, 4, 2, 1]
c = 0
for i in range(len(x)):
  # print(f'รอบที่ {i}')
  for j in range(i+1 ,len(x)):
    # print(f'{x[i]} : {x[j]} is {x[i] > x[j]}')
    if x[i] > x[j]:
        # c = c + 1
        c += 1
print(c)

6

4.	ให้ตรวจสอบว่า String ที่รับเข้ามาผ่านคีย์บอร์ด เป็นตัวอักษรพิมพ์เล็ก หรือตัวอักษรพิมพ์ใหญ่ อย่างละกี่ตัว ตอบ 2 บรรทัด พิมพ์เล็ก 1 บรรทัด พิมพ์ใหญ่ 1 บรรทัด

klfjslkgD;FGK;LSDKdl;gfk;
=> 18,3

In [39]:
x = input("")

c = 0
c1 = 0
for i in range(len(x)):
    if x[i].isupper():
        c += 1
    else:
        c1 += 1

print(f"พิมพ์ใหญ่ = {c}")
print(f"พิมพ์เล็ก = {c1}")

DDDppp
พิมพ์ใหญ่ = 3
พิมพ์เล็ก = 3

5.	จงเขียนโปรแกรมที่หาตัวเลขระหว่าง 1000 และ 3000 ที่ทุกหลักเป็นเลขคู่ (รวม 1000 และ 3000) โดยแสดงผลในรูปแบบตัวเลขคั่นด้วย comma

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

In [54]:
X = ["1","3","5","7","9"]
ans = ""
for i in range(1000,3001):
    string = str(i)
    for j in string :
        if( j not in str(X)):
            ans += j
    if(len(ans) == 4 and (i%2 ==0)):
        print(string ,end=",")
    ans = ""

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

6.	ในคณิตศาสตร์ ตัวหารร่วมมาก หรือ ห.ร.ม. (greatest common divisor: gcd) ของจำนวนเต็มสองจำนวนซึ่งไม่เป็นศูนย์พร้อมกัน คือจำนวนเต็มที่มากที่สุดที่หารทั้งสองจำนวนลงตัว
จงหา ห.ร.ม. ของจำนวนเต็ม 2 จำนวนที่กำหนดให้
ข้อมูลนำเข้า
บรรทัดแรกเพียงบรรทัดเดียว ประกอบไปด้วยจำนวนเต็มบวกสองจำนวน a และ b มีค่าไม่เกิน 9999
ข้อมูลส่งออก
ในบรรทัดแรกของข้อมูลส่งออก ให้แสดงค่า ห.ร.ม. ของ a และ b
เช่น 	Input : 12 14		Output : 2
	Input : 7 3		Output : 1

678
345
=> 3

In [79]:
a, b = [int (e) for e in input("").split()]
h = 0

for i in range(1,1000) :
  if a % i == 0 and b % i == 0:
     h = i

print(f"Input = {a} {b} Output = {h}")

100 50
Input = 100 50 Output = 50

7.	จงเขียนโปรแกรมที่คำนวณค่าของ a+aa+aaa+aaaa เมื่อรับข้อมูลเป็นตัวเลข 1 หลัก

Input : 9

Output : 11106 (=9+99+999+9999)

In [ ]:
from re import A
# x=int(input(""))
# a1 = x*1
# a2 = x*11
# a3 = x*111
# a4 = x*1111
# sum = a1+a2+a3+a4
# print(sum)

a = input("")
total = 0
sum = 0
my_list = []
for i in range(1,5) :
    my_list.append(a*i)
for j in my_list :
    total += int(j)
print(f"{total}={a*1}+{a*2}+{a*3}+{a*4}")

8.	แปลงเลขโรมัน เป็นเลขอารบิก เช่น MMMDCCXXIV = 3724 (ค้นหาวิธีทางทางอินเตอร์เน็ต)

In [43]:
x = input("กรุณาใส่เลขโรมัน: ")
sum = 0
i = 0
while i < len(x):
    if x[i] == 'M':
        sum += 1000
    elif x[i] == 'D':
        if i + 1 < len(x) and x[i + 1] == 'M':
            sum += 900
            i += 1
        else:
            sum += 500
    elif x[i] == 'C':
        if i + 1 < len(x) and x[i + 1] == 'D':
            sum += 400
            i += 1
        else:
            sum += 100
    elif x[i] == 'L':
        sum += 50
    elif x[i] == 'X':
        if i + 1 < len(x) and x[i + 1] == 'L':
            sum += 40
            i += 1
        else:
            sum += 10
    elif x[i] == 'V':
        sum += 5
    elif x[i] == 'I':
        if i + 1 < len(x) and x[i + 1] == 'X':
            sum += 9
            i += 1
        elif i + 1 < len(x) and x[i + 1] == 'V':
            sum += 4
            i += 1
        else:
            sum += 1
    i += 1

print(f"{sum}")

กรุณาใส่เลขโรมัน: MMMDCCXXIV
ค่าที่แปลงเป็นตัวเลข: 3724

9.	อนุกรม Fibonacci คือ อนุกรมที่ตัวที่ 3 เป็นต้นไปเกิดจาก 2 ตัวหน้าบวกกัน จงเขียนโปรแกรมแสดงอนุกรม
เช่น ตั้งแต่ 0-1000 คือ 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987

In [55]:
lst = [0, 1]
l1 = lst[-1] + lst[-2]
while l1 < 1000:
    lst.append(l1)
    l1 = lst[-1] + lst[-2]
print(lst)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

10.	ให้สร้างโปรแกรม True Love โดยรับชื่อภาษาอังกฤษของ 2 คน จากนั้นค้นหาว่ามีตัวอักษรอยู่ในคำว่า True และ Love รวมกันกี่ตัว จากนั้นนำมาต่อกันเป็น % ตามรูป (ไม่ต้องแสดงเครื่องหมาย %)

In [49]:
name1 = input("ชื่อคนแรก: ")
name2 = input("ชื่อคนที่สอง: ")
combined_name = name1 + name2

c = 0
c1 = 0
i = 0


while i < len(combined_name):
    if combined_name[i].upper() == 'T':
        c += 1
    if combined_name[i].upper() == 'R':
        c += 1
    if combined_name[i].upper() == 'U':
        c += 1
    if combined_name[i].upper() == 'E':
        c += 1
    i += 1


i = 0


while i < len(combined_name):
    if combined_name[i].upper() == 'L':
        c1 += 1
    if combined_name[i].upper() == 'O':
        c1 += 1
    if combined_name[i].upper() == 'V':
        c1 += 1
    if combined_name[i].upper() == 'E':
        c1 += 1
    i += 1


print(f"{c}{c1}")

ชื่อคนแรก: TTTT
ชื่อคนที่สอง: EEE
73